{% extends 'base.html' %}

{% block content %}

{% if books %}
<div class="container">
    {% for book in books %}
    <div class='el'>
        <div class="image">
            <a href="{{book.get_absolute_url}}">
                <img src="{{book.img.url}}" alt="">
            </a>
        </div>
        <div class='book1'>
            <div class="titlegenre">
                {{book.title}} | {{book.genre}}
            </div>
            <div class="author">
                {% if book.author.is_authenticated %}
                {% else %}
                {{book.author}}
                {% endif %}
            </div>
        </div>
    </div>
    {% endfor %}
</div>
{% else %}
    <p>Книги не найдены.</p>
{% endif %}
{% endblock content %}
