{% extends "base.html" %}

{% block content %}
    <h2>Ваша корзина</h2>


{% if cart_items %}
<div class="container">

  {% for item in cart_items %}
    <div class="el">
      <div class="image">
        <a href="{{ item.book.get_absolute_url }}">
          <img src="{{ item.book.img.url }}" alt="{{ item.book.title }}">
        </a>
      </div>
      <div class="book1">
        <div class="titlegenre">
          {{ item.book.title }} | {{ item.book.genre }}
        </div>
        <div class="author">
          {{ item.book.author.user.first_name }} {{ item.book.author.user.last_name }}
        </div>
        <div class="quantity">
          Количество: {{ item.quantity }}
        </div>


        <div class="quantity-controls">
  <a href="{% url 'decrease_quantity' book_id=item.book.id %}" class="btn-qty">−</a>
  <span>{{ item.quantity }}</span>
  <a href="{% url 'increase_quantity' book_id=item.book.id %}" class="btn-qty">+</a>
</div>

      </div>
    </div>
  {% endfor %}
</div>

<div class="pagination">
  {% if page_obj.has_previous %}
    <a href="?page=1">&laquo; В начало</a>
    <a href="?page={{ page_obj.previous_page_number }}">&#8249; Назад</a>
  {% else %}
    <span class="disabled">&laquo; В начало</span>
    <span class="disabled">&#8249; Назад</span>
  {% endif %}

  {% for num in page_obj.paginator.page_range %}
    {% if page_obj.number == num %}
      <span class="current">{{ num }}</span>
    {% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %}
      <a href="?page={{ num }}">{{ num }}</a>
    {% endif %}
  {% endfor %}

  {% if page_obj.has_next %}
    <a href="?page={{ page_obj.next_page_number }}">Вперед &#8250;</a>
    <a href="?page={{ page_obj.paginator.num_pages }}">В конец &raquo;</a>
  {% else %}
    <span class="disabled">Вперед &#8250;</span>
    <span class="disabled">В конец &raquo;</span>
  {% endif %}
</div>
{% else %}
  <p class='empty-cart-message'>Ваша корзина пуста. Перейдите на <a href="{% url 'booklist' %}">главную страницу</a>, чтобы добавить книги.</p>
{%endif%}
{% endblock content %}